body{
    background-color: #19171a;
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 0%;
}

#wrapper{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 132vh;
    height: 72vh;
    top: 50%;
    left: 50%;
}

.column{
    height: 100%;
    width: 50%;
    float: left;
}

a{
    color:white;
    text-decoration: none;
    display: block;
}

a.button{
    width: 20vh;
    height: 16vh;
    margin: 1vh;
    background-color: #201e21;
    float: left;
    border-radius: 1vh;
    text-align: center;
    font-size: 8vh;
    padding: 3.33vh ;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

a.listItem{
    line-height: 1.5em;
    float: none;
}

a:hover{
    color: black;
    background-color: cyan;
}

.list{
    border-radius: 1vh;
    width: 31vh;
    height: 34vh;
    margin: 1vh;
    background-color: #201e21;
    float: left;
    text-align: center;
    box-sizing: border-box;
    font-size: 3vh;
}

p{
    font-weight: bold;
}
